#about {
    width: 100%;
    overflow: auto;
}

.about-filler {
    flex: 0 0 var(--spacing-xxl);
    width: 100%;
}

.affiliation-links {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: var(--spacing-xxxl);
}

.affiliation-links img {
    height: 80px;
    margin-right: calc(1*var(--spacing-xxxl));
}