/* main project view including tabs, project gallery and individual project views */
#project-view {
    padding: 0;
    overflow: hidden;
}


/* ------------------------------ Project Tabs ------------------------------ */

.project-tabs-container {
    flex: 0 0 max-content;
    min-width: 0;
    padding: 0 var(--spacing-xxxl);
    padding-bottom: var(--spacing-sm);
    z-index: var(--z-index-navigation);
    margin: 0;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--color-secondary) transparent;
}

.project-tabs-list {
    display: flex;
    width: fit-content;
    height: 100%;
    padding: 0;
    margin: 0;
    align-items: flex-end;
}

.tab-item {
    list-style: none;
    margin: 0;
    flex: 1 0 max-content;
    padding: var(--spacing-xxs) var(--spacing-md);
    border-radius: 0 0 var(--border-radius-lg) var(--border-radius-lg);
    background-color: var(--color-quaternary);
    border-top: 0;
    box-shadow: var(--shadow-sm);
}
.tab-item:hover,
.tab-item.active {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-text);
    cursor: pointer;
}
.dark-theme .tab-item.active,
.dark-theme .tab-item:hover {
    color: var(--color-background);
}
.tab-item span {
    font-size: var(--font-size-sm);
    margin-right: var(--spacing-md);
}
.tab-item-filler {
    flex: 1 1 var(--spacing-lg);
}
.tab-item i {
    font-size: var(--font-size-sm);
    padding: calc(0.2 * var(--spacing-sm));
    border-radius: var(--border-radius-pill);
    transition: all var(--transition-speed-fast) var(--transition-ease);
}
.tab-item i:hover {
    color: var(--color-tertiary);
    transform: translateY(-1px) scale(1.15);
    text-shadow: 0 0 1px currentColor;
}


/* ------------------------------ Project Iframes ------------------------------ */
.project-iframe {
    border: none;
    border-top: var(--border-quaternary-dark-thin);
    margin-top: var(--spacing-lg);
    width: 100%;
    height: 100%;
}


/* ------------------------------ PROJECT GALLERY ------------------------------ */
.project-gallery {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scroll-behavior: smooth;
    scrollbar-color: var(--color-secondary) transparent;
}

.project-gallery header {
    padding: 0 var(--spacing-xxxl);
}

.project-gallery header h1{
    margin-top: var(--spacing-xxl);
}

.project-gallery header p{
    margin-bottom: 0;
}

/* ------------------------------ Project Card Filtering ------------------------------ */

/* main filtering container */
.project-filtering {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    background-color: var(--color-surface);
    padding: var(--spacing-lg) var(--spacing-xxxl) var(--spacing-lg) var(--spacing-xxxl);
    margin-bottom: var(--spacing-lg);
    gap: var(--spacing-md);
    flex: 0 0 fit-content;
    z-index: var(--z-index-navigation);
}
.project-filtering.is-stuck {
    box-shadow: var(--shadow-md);
}

/* filter search box */
.filter-search {
    position: relative;
    display: flex;
    align-items: center;
    align-self: center;
    flex: 0 0 auto;
    height: var(--spacing-xxl);
    background-color: var(--color-quaternary);
    padding: 0 var(--spacing-md);
    transition: var(--transition-speed-fast) var(--transition-ease);
    border-radius: var(--border-radius-sm);
    border-bottom: 2px solid var(--color-quaternary);
}

.filter-search input {
    flex: 1 1 auto;
    padding: 0;
    background-color: transparent;
    border: none;
    color: var(--color-text);
    height: 100%;
}

.filter-search i {
    color: var(--color-text);
    font-size: var(--font-size-sm);
}

.filter-search:hover i,
.filter-search:focus-within i {
    color: var(--color-tertiary-lighter);
}

.filter-search:hover,
.filter-search:focus-within {
    border-bottom: 2px solid var(--color-tertiary-lighter);
    box-shadow: var(--shadow-inner);
}

/* "clear" filter button */
.project-filtering .filter-btn.clear {
    flex: 0 0 auto;
    height: var(--spacing-xxl);
    padding: var(--spacing-xs) var(--spacing-md);
    margin: 0;
    align-self: center;
    font-weight: bolder;
}

.project-filtering .filter-btn.clear:hover {
    background-color: var(--color-tertiary-lighter);
    border-color: var(--color-tertiary-lighter);
}

/* Filter button Container */
.filter-container-wrapper {
    flex: 0 1 100%;
    height: calc(1 * var(--spacing-xxxl));
    min-width: 0;
    border: var(--border-quaternary-dark-medium);
    border-radius: var(--border-radius-sm);
}

.filter-container {
    min-width: 0;
    height: 100%;
    width: 100%;
    
    -webkit-mask-image: linear-gradient(
        to right,
        transparent 0%,
        black var(--spacing-md),
        black calc(100% - var(--spacing-md)),
        transparent 100%
    );
    
    mask-image: linear-gradient(
        to right,
        transparent 0%,
        black var(--spacing-md),
        black calc(100% - var(--spacing-md)),
        transparent 100%
    );
    
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-color: var(--color-secondary) transparent;
    scrollbar-width: thin;    
}

.filter-container::-webkit-scrollbar {
    height: 6px;
}

.filter-container::-webkit-scrollbar-thumb {
    background: var(--color-quaternary);
    border-radius: var(--border-radius-sm);
}

.filter-container::-webkit-scrollbar-thumb:active {
    background: var(--color-quaternary); /* or any color you want when dragging */
}

.filter-group {
    display: flex;
    align-items: center;
    height: 100%;
    width: max-content;
    padding: 0 0 0 var(--spacing-md);
}

/* Filter Buttons */

.filter-btn {
    flex-shrink: 0;
    height: calc(1.1*var(--spacing-xl));
    padding: var(--spacing-xs) var(--spacing-md) var(--spacing-sm) var(--spacing-md);
    margin-right: var(--spacing-md);
    cursor: pointer;
    border: none;
    color: var(--color-secondary);
    background-color: var(--color-surface);
    border: var(--border-secondary-medium);
    border-radius: var(--border-radius-sm);
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    transition: all var(--transition-speed-fast) var(--transition-ease-out);
}

.filter-btn.active,
.filter-btn:hover {
    background-color: var(--color-secondary);
    color: var(--color-background);
}

.dark-theme .filter-btn.active,
.dark-theme .filter-btn:hover {
    background-color: var(--color-secondary);
    color: var(--color-background);
}


/* ------------------------------ Project Cards ------------------------------ */

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--spacing-xl);
    padding: 0 var(--spacing-xxxl);
}

.project-card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    border: var(--border-quaternary-medium);
    padding: var(--spacing-lg);
    background-color: var(--color-quaternary);
    border-radius: var(--border-radius-md);
    overflow: hidden;
    box-shadow: var(--shadow-sm);
    transition: all var(--transition-speed) var(--transition-ease);
    z-index: var(--z-index-base);
    cursor: pointer;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow-lg);
    z-index: calc(var(--z-index-base) + 1);
}

.project-image {
    height: 200px;
    overflow: hidden;
    border-radius: var(--border-radius-sm);
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform var(--transition-speed) var(--transition-ease);
}

.project-card:hover .project-image img {
    transform: scale(1.01);
}

.project-info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.project-info h3 {
    font-size: var(--font-size-lg);
    margin: 0;
}

.project-info p {
    font-size: var(--font-size-sm);
    margin: 0;
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-sm);
}

.tag {
    background-color: var(--color-secondary);
    color: var(--color-background);
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--border-radius-sm);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-medium);
}

.card-bot-fade {
    position: sticky;
    bottom: 0;
    flex: 0 0 var(--spacing-xl);
    background-color: var(--color-surface);
    width: 100%;

    -webkit-mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 50%,
        black 100%
    );
    
    mask-image: linear-gradient(
        to bottom,
        transparent 0%,
        black 50%,
        black 100%
    );

    pointer-events: none;
    z-index: var(--z-index-above);
}

/* Responsive design for projects section */
@media screen and (max-width: 1000px) {

    .project-grid {
        grid-template-columns: 1fr;
        gap: var(--spacing-lg);
    }

    .project-image {
        height: 180px;
    }

/* Project Filtering Section */
    .project-filtering {
        gap: var(--spacing-md);
        flex-wrap: wrap;
    }

    .project-filtering .filter-search {
        height: var(--spacing-xxl);
    }

    .project-filtering .filter-btn.all {
        height: var(--spacing-xxl);
    }

    .project-filtering .filter-container-wrapper {
        min-width: 100%;
        height: calc(1.5*var(--spacing-xxl));
    }

    .project-filtering .filter-btn {
        height: calc(1.1*var(--spacing-xl));
    }
}

/* Responsive design for projects section */
@media screen and (max-width: 800px) {

    .project-grid {
        grid-template-columns: 1fr;
        gap: var(--spacing-lg);
    }

    .project-image {
        height: 180px;
    }

/* Project Filtering Section */
    .project-filtering {
        gap: var(--spacing-md);
        flex-wrap: wrap;
    }

    .project-filtering .filter-search {
        height: var(--spacing-xxxl);
    }

    .project-filtering .filter-btn.all {
        height: var(--spacing-xxxl);
    }

    .project-filtering .filter-container-wrapper {
        min-width: 100%;
        height: calc(1.6*var(--spacing-xxxl));
    }

    .project-filtering .filter-btn {
        height: calc(0.95*var(--spacing-xxl));
    }

}
