name: Update Project Gallery

permissions:
  contents: write

on:
  repository_dispatch:
    types: [project-updated]

  push:
    branches:
      -main # portfolio project gallery will update on every push allowing for smoother manual project card insertion

jobs:

  update-gallery:

    runs-on: ubuntu-latest

    steps:
      
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '25'
        
      - name: Install dependencies
        run: npm install

      - name: Run portfolio update script
        run: |
          # running update script
          node scripts/portfolio-update.js '${{ toJson(github.event.client_payload) }}'
        
      - name: Commit and push changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git diff --quiet && git diff --staged --quiet || git commit -m "Auto-update: Project gallery rebuild. [skip ci]"
          git push
